[View in Colaboratory](https://colab.research.google.com/github/th14g0/Python/blob/master/python_for_data_analysis_book.ipynb)

In [0]:
#@title Imports
import numpy as np
import pandas as pd
t as plt
import seaborn as sns
import statsmodels as sm

%matplotlib inline

In [0]:
#@title File Uploader

from google.colab import files

uploaded = files.upload() # then browse, select the files. It's then uploaded

# uploaded is now a dict containing "filename" -> Content

In [0]:
#@title File downloader

file downloader
files.download('example.txt')  # from colab to browser download

In [0]:
#@title Swap Variables

a = 5
b = 7

b,a = a,b

print(a)
print(b)

In [0]:
#@title Reverse list or tuple

list_1 = ['brava','ta','ce','mas']
list_1 = list_1[::-1]
list_1

In [0]:
#@title Loop through list
list_1 = ['brava','ta','ce','mas']
list_1 = list_1[::-1]

for i, value in enumerate(list_1):
  print(value)

In [0]:
#@title Iterate over multiple sequences

list_1 = ['brava','ta','ce','mas']
list_2 = list_1[::-1]

for i, (a,b) in enumerate(zip(list_1,list_2)):
  print('{0}: {1}, {2}'.format(i, a, b))

In [0]:
#@title Turn rows into columns
pitchers = [('Nolan', 'Ryan'),('Roger', 'Clemens'), ('Schilling','Curt')]

#nice trick to extract columns with unzip

first_names, last_names = zip(*pitchers)
first_names

In [0]:
#@title Dict data structure

# dict is probably the most important built-in data structure

# a.k.a hash map or associative array

empty_dict = {}

d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

test__ = 0

if 'b' in d1:
  test__ = d1['b'][2]

d1[7] = 'an integer'

d1[5] = 'some value'

d1['dummy'] = 'another value'

del d1[5]

ret = d1.pop('dummy')

d1.update({'b' : 'hieeee', 'c' : 'new update' })

print(list(d1.keys()))

print(list(d1.values()))

d1

In [0]:
#@title Creating dict from sequences

key_list = [1, 2, 3]
value_list = ['one', 'two', 'three']

mapping = {}
for key, value in zip(key_list, value_list):
  mapping[key] = value
  
mapping_2 = dict(zip(range(5),reversed(range(5))))

#retrieve from dict with default value
value = mapping_2.get('4', 'not found')

value

In [0]:
#@title Create a dict grouped by first letter -hard way
words = ['apple', 'bat', 'bar', 'atom','book']
by_letter = {}

for word in words:
  letter = word[0]
  if letter not in by_letter:
    by_letter[letter] = [word]
  else:
    by_letter[letter].append(word)

In [0]:
#@title Create a dict grouped by first letter - using setdefault
words = ['apple', 'bat', 'bar', 'atom','book']
by_letter = {}

for word in words:
  letter = word[0]
  by_letter.setdefault(letter,[]).append(word)
  
by_letter